{% extends "base.html" %}

{% block content %}


<title>Crystal's notes</title>

 
<body>
  

 <div class="concept">
      Servers
    </div>

    <div class="concept-brief">
        Order up!
    </div>

 <div class="concept-description">
      <p>A server in the computer world is really a lot like a server at your favorite restaurant.  Though instead of a person it is a computer.  You place your order, send the request, the server goes and gets the information you requested and brings it back to you.  And you don't even have to tip!  The purpose of a server is to respond to HTTP requests.  There are two types of responses, static and dynamic.  A static response is just a regurgitation of information that already exists.  A dynamic response is information that is written on the fly.  The results of a Google search is a dynamic response. </p>
 </div>

 <div class="concept">
      Validating Input
    </div>

    <div class="concept-brief">
        Check out who's at the door
    </div>

 <div class="concept-description">
      <p>Servers can receive junk and since not everyone on the World Wide Web wishes you a life of champagne and butterflies, it is important to validate input. Some ways to validating input are by enter using DOB or having a user name and password. Basically validating input is the first line of defense for a web page.  Auto escaping input is also critical in protecting information.  If auto escaping is not used, someone could very easily change your code and how your website looks and works.</p>
 </div>

<div class="concept">
      HTML templates
    </div>

    <div class="concept-brief">
        Cleaning house
    </div>

 <div class="concept-description">
      <p>Templates are a way of keeping a complicated library of strings in order.  Templates have lots of benefits: keeping different types of code separate, makes code easier to read, makes websites more secure and makes it easier to modify HTML. Templates also allow for an inheritance hierarchy that helps programmers avoid unnecessary reptition and keep code cleaner!  </p>
 </div>

  <br>
  <br>
  
  Click <a href="http://buoyant-voyage-96317.appspot.com/sign">here</a> to say hi and leave a comment! 

</body>

{% endblock %}